{% extends "shop/layout.html" %}

{% load static %}
{% load render_share_shop %}
{% block content %}
<section class="product spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-5">
                {% include 'shop/pages/category/sidebar.html' %}
            </div>
            <div class="col-lg-9 col-md-7">
                <div class="filter__item">
                    <div class="row justify-content-between">
                        {% include 'shop/pages/category/order-and-count.html' %}
                    </div>
                </div>
                <div class="row">
                    {% comment %} {% for  in  %}
                        <div class="col-lg-4 col-md-6 col-sm-6">
                            <div class="product__item">
                                <div class="product__item__pic set-bg" data-setbg="/static/shop/assets/img-demo/b0551186-ea6d-497b-baad-479105815511.jpg" style="background-image: url(&quot;/static/shop/assets/img-demo/b0551186-ea6d-497b-baad-479105815511.jpg&quot;);">
                                    <ul class="product__item__pic__hover">
                                        <li><a href="#"><i class="fa fa-heart"></i></a></li>
                                        <li><a href="#"><i class="fa fa-retweet"></i></a></li>
                                        <li><a href="/cay-phat-loc-thuyen-a26.html"><i class="fa fa-shopping-cart"></i></a></li>
                                    </ul>
                                </div>
                                <div class="product__item__text">
                                    <h6><a href="/cay-phat-loc-thuyen-a26.html">Cây Phát Lộc Thuyền</a></h6>
                                    <h6 class="price_old"></h6>
                                    <h5>350.000đ</h5>
                                </div>
                            </div>
                        </div>
                    {% endfor %} {% endcomment %}
                    {% render_share_shop 'product-grid.html' items_product params.keyword %} 
                </div>

                {% include 'shop/pages/category/pagination.html' %}
            </div>
        </div>
    </div>
</section>
{% endblock %}